@model JewelryRentalSystem.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h4 id="appointmentDetailsH4">APPOINTMENT DETAILS</h4>
<hr />
<div class="container" id="appointmentDetailsDiv">
    
    <div>
        <p><span>Customer Name:</span> @Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.LastName)</p>
        <p><span>Date of Appointment:</span> @Html.DisplayFor(model => model.DateOfAppointment)</p>
        <p><span>Time of Appointment:</span> @Html.DisplayFor(model => model.ScheduleTime.SchedTime)</p>
        <p><span>Branch Location:</span> @Html.DisplayFor(model => model.Location.LocationName)</p>
        <p><span>Appointment Type:</span> @Html.DisplayFor(model => model.AppointmentType.APTName)</p>
    </div>
    <div>
        <a class="btn btn-secondary" asp-action="Index" asp-controller="Transaction">Back to List</a>
    </div>
</div>

