@model IEnumerable<JewelryRentalSystem.Models.Appointment>
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@{
    ViewData["Title"] = "Index";
}


<div class="container" id="appointmentContainer">
    <div class="container d-inline-flex justify-content-between">
        <h3>Your Appointments</h3>

        <p>
            <a asp-action="Index" asp-controller="Cart" class="btn btn-outline-secondary">Go to Cart</a>
        </p>
    </div>
    <table class="table">
        <thead>
            <tr id="appointmentTR">
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfAppointment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOfAppointment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmountToBePaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="appointmentBodyTR">
                    @if (item.CustomerName == (User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfAppointment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeOfAppointment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmountToBePaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.LocationName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.AppointmentId" class="btn btn-secondary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.AppointmentId" class="btn btn-secondary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.AppointmentId" class="btn btn-danger">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
