@model IEnumerable<ApplicationUser>

    @{
        Layout = "_Layout";
    }

@if (TempData["UpdateClassificationMessage"] != null)
{
    <div class="alert alert-success">@TempData["UpdateClassificationMessage"]</div>
}
                  <div class="container" id="userListDiv">
                      <h3 id="userListH3">LIST OF USERS</h3>

                      <table class="table">
                          <thead>
                              <tr id="userListTR">
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th style="width: 30%">Email</th>
                                  <th>Phone</th>
                                  <th style="width: 15%">Address</th>
                                  <th>Status</th>
                                  <th>Customer Class</th>
                              </tr>
                          </thead>
                          <tbody>
                              @foreach (var user in Model)
        {
                              <tr id="userListTRBody">
                                  <td>@user.FirstName</td>
                                  <td>@user.LastName</td>
                                  <td>@user.Email</td>
                                  <td>@user.ContactNo</td>
                                    <td>@user.Address</td>
                                    @if (user.isActive == true)
                                    {
                                        <td><span class="badge bg-success">Active</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge bg-danger">Inactive</span></td>
                                    }
                                    @if(user.CustClassId == 5)
                                    {
                                        <td><a style="width:150px" class="btn btn-outline-secondary">@user.CustomerClassification.CustomerClassName</a></td>
                                    }else{
                                        <td><a asp-action="UpdateCustomerClassId" asp-route-id="@user.Id" style="width:150px" class="btn btn-outline-secondary">@user.CustomerClassification.CustomerClassName</a></td>
                                    }
                    
                              </tr>
        }
                          </tbody>
                      </table>
                  </div>
