@model JewelryRentalSystem.Models.User


<!-- Display daetails of the User-->

<h1>User Details</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.BirthDate</h6>
        <h6 class="card-subtitle mb-2 text-muted">@Model.RoleId</h6>
        <p class="card-text">@Model.ContactNo</p>
        <p class="card-text">@Model.Address</p>
        <p class="card-text">@Model.Username</p>
        <a asp-controller="User" asp-action="GetAllUsers" class="card-link">Back to list</a>

    </div>
</div>