@model IEnumerable<JewelryRentalSystem.Models.Cart>
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@{
    ViewData["Title"] = "Index";
}
<div class="container" id="cartDiv">

<div class="container d-inline-flex justify-content-between">
    <h3>Your Cart</h3>

    <p>
        <a asp-action="Create" asp-controller="Appointment" asp-route-itemid="" class="btn btn-outline-secondary">Schedule Appointment</a>
    </p>
</div>

    <table class="table">
        <thead>
            <tr id="cartTR">
                <th >
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductQty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody >
            @foreach (var item in Model)
            {
                <tr id="cartBodyTR">
                    @if(item.CustomerName == (User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductQty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RentDuration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CartId" class="btn btn-secondary btn-sm">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.CartId" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <h4 id="totalH4">TOTAL: ₱@Model.Sum(p => p.Total)</></h4>
</div>
