@model IEnumerable<JewelryRentalSystem.Models.Cart>
@using JewelryRentalSystem.Data

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container" id="cartListContainer">
    
    @if (ViewBag.Count == 0)
    {
        <br><br><h3 style="text-align:center; color:#6C757D">There's no Items in your cart.</h3>
        <br>
        <div class="container" id="noItemsBtn">
            <a asp-action="GetAllProducts" asp-controller="Product" class="btn btn-outline-danger">Add Items</a>
        </div>
        <div class="container" id="noItemsImg">
            <img src="~/img/Cart-PNG-Image.png">
        </div>
        
    }
    else if(ViewBag.CountAppointment == 0)
    {
        <div class="container d-inline-flex justify-content-between" >
            <h4 style="color:#6C757D">YOUR CART</h4>
            <p>
                <a class="btn btn-outline-secondary" asp-action="Create" asp-controller="Appointment">Create Appointment</a>
            </p>
        </div>

        <table class="table">
            <thead>
                <tr id="cartListTR">
                    <th>
                        @Html.DisplayNameFor(model => model.Product.ProductImage)
                    </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.ProductName)
                            </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductQty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RentDuration) day(s)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr id="cartListTRBody">
                <td>
                    <img id="cartProductImg" src="@Html.DisplayFor(modelItem => item.Product.ProductImage)" />
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CartId"><i class="bi bi-pencil-square"></i></a>
@*                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.CartId"><i class="bi bi-book"></i></a>*@
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CartId"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
            </tbody>
        </table>
        <h5 id="totalH5">Total Amount: ₱@Model.Sum(p => p.Total)</h5>
    }
    else
    {
        <div class="container d-inline-flex justify-content-between">
            <h4 style="color:#6C757D">YOUR CART</h4>
            <p>
                <a class="btn btn-outline-secondary" asp-action="Create" asp-controller="Transaction">Checkout</a>
            </p>
        </div>

        <table class="table">
            <thead>
                <tr id="cartListTR">
                    <th>
                        @Html.DisplayNameFor(model => model.Product.ProductImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductQty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RentDuration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="cartListTRBody">
                        <td>
                            <img id="cartProductImg" src="@Html.DisplayFor(modelItem => item.Product.ProductImage)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductQty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RentDuration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CartId"><i class="bi bi-pencil-square"></i></a>
@*                            <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.CartId"><i class="bi bi-book"></i></a>*@
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CartId"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h5 id="totalH5">Total Amount: ₱@Model.Sum(p => p.Total)</h5>
    }

</div>

