@model JewelryRentalSystem.Models.Product
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager


@*<h2>Product Details</h2>*@
<br />
<div id="prodDetailsContainer" class="container rounded border border-secondary w-75 p-3">
    <div class="wrapper col-md-5">
        <img class="img-responsive" src="@Model.ProductImage" />
    </div>
    <div id="prodDetailLastChild">
        <div>
            <div class="d-inline-flex justify-content-between w-100">
                <h4>@Model.ProductName</h4>
                <div>
                    @if (_signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                    {

                    }
                    else
                    {
                        <a class="btn btn-outline-success btn-sm">Add to Cart</a>
                        <a class="btn btn-outline-primary btn-sm">Rent</a>
                    }
                </div>
            </div>

            <h5>₱@Model.ProductPrice</h5>
            <div>
                @if (Model.ProductStock == 0)
                {
                    <small class="text-muted">Out of stock</small>
                }
                else if (Model.ProductStock == 1)
                {
                    <small class="text-muted">@Model.ProductStock item left</small>
                }
                else
                {
                    <small class="text-muted">@Model.ProductStock items left</small>
                }
            </div>
            <h6 class="text-muted">@Model.ProductDescription</h6>
        </div>
        <div id="backToHomePage">
            <a asp-controller="Product" asp-action="GetAllProducts" data-rel="back" id="backToHomePage" class="btn btn-outline-secondary btn-sm">Back to Homepage</a>
        </div>
    </div>
</div>