@model JewelryRentalSystem.Models.Product
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager


@*<h2>Product Details</h2>*@
<br />
<div id="prodDetailsContainer" class="container rounded border border-secondary w-75 p-3">
    <div class="wrapper col-md-5">
        <img class="img-responsive" src="@Model.ProductImage" />
    </div>
    <div id="prodDetailLastChild">
        <div>
            <div class="d-inline-flex justify-content-between w-100">
                <h4>@Model.ProductName</h4>
                <h4>₱@Model.ProductPrice</h4>
            </div>           
            <div>
                @if (Model.ProductStock == 0)
                {
                    <h6 class="text-muted">Out of stock</h6>
                }
                else if (Model.ProductStock == 1)
                {
                    <h6 class="text-muted">@Model.ProductStock item left</h6>
                }
                else
                {
                    <h6 class="text-muted">@Model.ProductStock items left</h6>
                }
            </div>
            <small class="text-muted">@Model.ProductDescription</small>
        </div>
        <div id="backToHomePage">
            <a asp-controller="Product" asp-action="GetAllProducts" data-rel="back" id="backToHomePage" class="btn btn-outline-secondary btn-sm">Back to Homepage</a>
        </div>
    </div>
</div>