@model JewelryRentalSystem.Models.Product
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager


@*<h2>Product Details</h2>*@
<br />
<div id="prodDetailsContainer" class="container rounded border border-secondary w-75">
    <div class="wrapper col-md-5">
        <img class="img-responsive" src="@Model.ProductImage" />
    </div>
    <div id="prodDetailLastChild">
        <div>
            <div class="d-inline-flex justify-content-between w-100">
                @{
                    var price = Model.ProductPrice;
                    var culture = new System.Globalization.CultureInfo("fil-PH");
                }
                <h5>@Model.ProductName</h5>
                <h5 value="@Model.ProductPrice">@Model.ProductPrice.ToString("C", culture)</h5>
            </div>           
            <div>
                @if (_signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                {
                    <h6 >@Model.ProductStock Item(s) in Stock</h6>

                }
                else
                {
                    @if (Model.ProductStock == 0)
                    {
                        <h6>Out of stock</h6>
                    }
                    else if (Model.ProductStock == 1)
                    {
                        <h6>@Model.ProductStock item left</h6>
                    }
                    else
                    {
                        <h6>In Stock!</h6>
                    }
                }
            </div>
            <br /><small class="text-muted">@Model.ProductDescription</small>
        </div>
        <div id="backToHomePage">
            <a asp-controller="Product" asp-action="GetAllProducts" data-rel="back" id="backToHomePage" class="btn btn-outline-secondary btn-sm">Back to Homepage</a>
        </div>
    </div>
</div>