@model List<Product>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/jewel1.jpg" class="d-block w-100" alt="" height="300">
        </div>
        <div class="carousel-item">
            <img src="~/img/jewel2.jpg" class="d-block w-100" alt="" height="300">
        </div>
        <div class="carousel-item">
            <img src="~/img/jewel3.jpg" class="d-block w-100" alt="" height="300">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />
<div class="input-group mb-3" >
    <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>
@foreach(var item in Model)
{
@*    <div class="row">
        <div class="column">
            <img class="prodImg" src="~/img/JewelSampleImg.PNG" alt="Snow" style="width:100%">
            <h5>@item.ProductName</h5>
            <h4>@item.ProductPrice</h4>
            @if(item.ProductStock == 0)
            {
                <p>Out of stock</p>
            }
            else if (item.ProductStock == 1)
            {
                <p>@item.ProductStock item left</p>
            }
            else
            {
                <p>@item.ProductStock items left</p>
            }
        </div>
    </div>
*@

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="~/img/JewelSampleImg.PNG" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <h4>@item.ProductPrice</h4>
                </div>
                <div class="card-footer">

                        @if (item.ProductStock == 0)
                        {
                            <small class="text-muted">Out of stock</small>
                        }
                        else if (item.ProductStock == 1)
                        {
                            <small class="text-muted">@item.ProductStock item left</small>
                        }
                        else
                        {
                            <small class="text-muted">@item.ProductStock items left</small>
                        }
                        <a class="btn btn-info btn-sm float-right ">Rent</a>

                </div>
            </div>
        </div>
    </div>
}


