@model List<Product>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
@if (TempData["UpdateProduct"] != null)
{
    <div class="alert alert-success">@TempData["UpdateProduct"]</div>
}
<div class="container" id="productListContainer">
    <div class="container d-inline-flex justify-content-between">
        <h3 id="productListH3">PRODUCT LIST</h3>
        <a asp-action="Create" asp-controller="Product" class="btn btn-outline-secondary">ADD PRODUCT</a>      
    </div><br />
    <table class="table">
        <br />
        <thead class="thead-dark">
            <tr id="productTitleTR">
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="productTRBody">
                    <th scope="row">@item.ProductId</th>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice</td>
                    <td>@item.ProductStock</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" asp-controller="Product" asp-action="Update" asp-route-ProductId="@item.ProductId">Edit</a>
                        @*<a class="btn btn-danger btn-sm" asp-controller="Product" asp-action="Delete" asp-route-productId="@item.ProductId">Delete</a>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
